/*HTML AND BODY STYLING START*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.block{
  display: block;
  border: 2rem black solid;
 }


h1{
  font-size: 2em;
  text-align: center;
  padding-top: 1em;
}

 body{
 margin: 0;
 padding: 0;
 font-size: 1.4em; /* test for this! Make all sizes em or rem */
 background-color: rgb(245, 225, 253);
 }

 p {
  padding: 0 20px;
  text-align: justify center;
  font-size: 1em;
 }
 
  ul {
    padding-left: .5em;
    font-size: 1.5rem;
  }

  li {
    line-height: 1;
  }
/*HTML AND BODY STYLING END*/

/*NAVBAR STYLING START*/
.navbar {
  width: 100%;
  background-color: rgb(75,106,136);
  overflow: auto;
}

.navbar a {
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  display:block; 
  float: none; 
}

.navbar a:hover {
  background-color: #000000;
}

.active {
  background-color: rgb(83,47,97);
}
/*NAVBAR STYLING END*/

/*SKIP TO MAIN CONTENT STYLING START*/
a.skip-main {
  right:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    right: auto;
    top: auto;
    width: 40%;
    height: auto;
    overflow:auto;
    padding:5px;
    border:2px solid purple;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
/*SKIP TO MAIN CONTENT STYLING END*/

/*HEADER STYLING START*/
 header{
  display: block;
  position: relative;
  background-image: url('../images/headerpicture.JPG');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;
  text-align: center;
  /*background: #1abc9c;*/
  color: white;
  font-size: 30px;
  background-color: rgb(179,129,179);
 }

/*HEADER STYLING END*/


/*INDEX PAGE STYLING START*/
 .circle {
  height: 75px;
  width: 75px;
  -webkit-animation: movespin 4s ease-in-out;
  animation: movespin 4s ease-in-out;
  color: rgb(52,73,94);
  animation-iteration-count: 2;
  animation-direction: alternate;
  }
  
  @-webkit-keyframes movespin {
    0% {
      transform: translateX(0px) rotate(0deg);
    }
    100% {
      transform: translateX(1000px) rotate(360deg);
    }
  }
  .abouttext{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border: 5px solid rgb(52,73,94);
    background: white;
    font-family: 'Poppins';
   }

   .abouttext p{
     color: rgb(52,73,94);
     font-family: 'Poppins';
   }

  .abouttext h2{
    font-size: 2em;
    text-align:center;
    line-height: 2;
    color: rgb(52,73,94);
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bold;
  }

  .aboutmecontainer2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    max-height: 30em;
    }
  .aboutmecontainer2 img{
      margin: 2px;
      max-width: 10em;
    }
  /*INDEX PAGE STYLING END*/

  /*GALLERY PAGE STYLING START*/

  .gallerytextcontainer{
    display: grid;
  }
  .gallerytext {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border: 5px solid rgb(52,73,94);
    background: white;
    font-family: 'Poppins';
  }

  .gallerytext p{
    color: rgb(52,73,94);
    font-family: 'Poppins';
  }
  .gallerytext h2{
    font-size: 1.7em;
    text-align:center;
    line-height: 2;
    color: rgb(75,106,136);
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bold;
    }
 
  .gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
  }


  .gallery .item {
    position: relative;
    overflow: hidden;
    border-color: white;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    width: 200px;
    height: 200px;
  }

  .gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery .item img {
    /*vertical-align: middle;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, .7);
    color: rgb(255, 255, 255);
  }

  .gallery .item:hover .caption {
    transform: translateY(0%);
  }
  *{
    box-sizing: border-box;
  }
/*GALLERY PAGE STYLING END*/

/*RECIPES PAGE STYLING START*/
.recipestext h2{
  font-size: 1.5em;
  text-align:center;
  line-height: 2;
  color: rgb(75,106,136);
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: bold;
  
}
.recipecontainer h2{
  font-size: 1.5em;
  text-align:center;
  color: rgb(75,106,136);
}
.recipestext{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 55px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border: 5px solid rgb(75,106,136);
  background: white;
  font-family: 'Poppins';
}
  .recipecontainer h2{
    text-align: center;
    color: rgb(52,73,94);
    line-height: 1.2;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: bold;

  }
  .recipecontainer h3{
    text-align: left;
    color: rgb(75,106,136);
    margin-left: 5px;
    margin: 2px;
    font-family: 'Poppins';
  }
  .recipecontainer h4{
    text-align: left;
    color: #000000;
  }

  .recipecontainer p{
    padding: 1px;
  }
 
  .one p, .two p, .three p, .four p{
    display: block;
    font-family: 'Poppins';
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .recipestext p{
    line-height: 1.2em;
  }

  .one, .two, .three, .four{
    height: 550px;
    flex-basis: 100%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border: 10px solid rgb(75,106,136);
    justify-content: center;
    padding: 5px;
    overflow: hidden;
  }

  .one>div, .two>div, .three>div, .four>div {
    flex: 1 1 auto;
  }

  .parallax {
    background-image: url(../images/kitchen.jpg);
    min-height: 400px;
    margin: 5px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    display:block; 
    float: none; 
  }

  .recipes{
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: space-around;
    
  }  

  .recipecontainer {
    max-width: 1335px;
    margin: 5px;
  }
  

  .one img, .two img, .three img, .four img{
    width: 100%;
    height: 65vw;
    object-fit: cover;
    padding:5px;
  }
/*RECIPES PAGE STYLING END*/


/*ADVICE PAGE STYLING START*/ 

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  color: black;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:white;
}

/* Style the submit button */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.formcontainer {
  background-color: rgb(75,106,136);
  padding: 20px;
  margin: 20px;
  border: 2px white solid;
}

/* Floating column for labels: 25% width */
.formquestion {
  float: left;
  width: 25%;
  margin-top: 6px;
  color:white;
}

/* Floating column for inputs: 75% width */
.formanswer {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer{
  position: fixed;
  font-weight: bold;
  font-size: 15px;
  bottom: 0;
  color: black;
  width: 100%;
  font-family: 'Poppins';

}

  #adviceheader h2{
    text-align: center;
    color: rgb(75,106,136);
    font-family: 'Poppins', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
   }

   .advice {
    color: white;
    background-color: white ;
    text-align: left;
    padding-left: 35px;
    margin: 20px;
    border: 5px rgb(52,73,94) solid;
    perspective: 1000px;
   }
    .advice h2{
      margin-bottom: 5px;
      margin-top: 15px;
      font-family: 'Playfair Display';
      font-style: italic;
      font-weight: bold;
      color: rgb(75,106,136);
    }

    .advice li{
      font-family: 'Poppins';
      font-size: 1.1rem;
      color: black;
      padding: 2px;
    }

/*ADVICE PAGE STYLING END*/ 

/*MEDIA QUERIES*/ 

@media screen and (prefers-reduced-motion: reduce) {
  .circle{
    animation: none;
    -webkit-animation: none;
  }
  .parallax {
    background-attachment: initial;
  }

}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (min-width: 501px) {
  .navbar a {
    display: inline-block;
  }
  .one img, .two img, .three img, .four img{
    height: 30vw;
    
  }
}

@media screen and (min-width: 815px) {
  .one, .two, .three, .four {
    flex-basis: 50%;
  }
  .one img, .two img, .three img, .four img{
    height: 30vw;
    
  }
@media screen and (min-width: 1073px) {
  .one, .two, .three, .four {
    flex-basis: 32%;
    justify-content: space-between;
    margin-bottom: 15px;
    }
    .one, .two{
      margin-right:2px;
    }

    .one img, .two img, .three img, .four img{
      height: 20vw;
    }
  }